.input {
  border: 2px solid var(--clr-secondary-300);
  border-radius: 0.3rem;
  padding: 0.6rem 2rem;
  transition: border 0.2s;

  &:focus-visible {
    outline: none;
    border: 2px solid var(--clr-accent-secondary);
  }
}
